/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    background-color: #006cfa;
    color: white;
    border: 1px solid white;
    text-align: center;
    line-height: 5rem;
    height: 5rem;
}

div.row div.col-6 div.row{
    padding: 1rem .5rem;
}

div.row div.col-6 div.row [class*="col-"]{
    background-color: #01e165;
    border: 1px solid #006cfa;
    line-height: 3rem;
    height: 3rem;
}

section#bottom{
    margin: 2rem 0;
}

section#offset{
    padding-bottom: 1rem;
}

section#offset *{
    border: none;
}

section#offset [class*="col-"]{
    border-bottom: 1px solid white; 
}